<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<h2>Post Actions --></h2>
<%= link_to 'New Post', new_post_path %>

<h2>Tag Actions --></h2>
<%= link_to 'Tags List', tags_path %>

<h2>Posts --></h2>
<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, post_path(post) %>
  </div>
<% end %>